*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;  
}





.container{
    width: calc(100% - 120px );
    margin: auto;
}
.row{
    display: flex;
   justify-content: space-between;
   gap: 20px;
}
/*header */
.header{
height: 100px;
background-color: #f7f7f8;
display: flex;
align-items: center;
position: sticky;
top: 0;
z-index: 100;

}
.header::after{
    content: "";
  height: 1px; 
  position: absolute;
  top: 100px;
  left: 20px;
  width: calc( 100% - 40px);
  background:  #F1F1F3;
 
}
.right_side{
display: flex;
align-items: center;
gap: 40px;
}
.left_side{
    display: flex;
    
    align-items: center;
    gap: 25px;
    }
.logo {
    width: 50px; 
    height: 50px;
    background-color: #FF9500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
a{
    text-decoration:none;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;   
}
.list ul li a{
    color:black;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.active{
   padding: 12px 20px 12px 20px;
    background-color:#F1F1F3 ;
    border-radius: 6px;
 }
 .left_side a{
color: black;
font-family: 'Be Vietnam Pro', sans-serif;  
font-size: 16px; 
 }
.login {   
    background-color:#FF9500;
    border: 0.4px solid #FF9500; 
    border-radius: 5px;
    }
.login a{

    display: flex;
   justify-content: center;
   align-items: center;
    width: 100px;
    height: 45px;
    color:#F1F1F3;
    
}

.Navigation_Menu{
width: 35px;
height: 35px;
display: none;
}
/*Home */
.Home{
    height: 1650px;
    background-color: #f7f7f8;

}
.Home .row{
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.section1{
height: 500px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;


}

.section1 .out .sec_1{
    width: 750px;
    height: 100px;
    background-color: #FCFCFD;
    border: 2px solid #F1F1F3;
    border-radius: 10px;
     display: flex;
    justify-content:center;
    align-items: center;
    font-weight: 600;
     gap: 5px; 
}

.section1 .out  .svg-before{
    width: 50px;
    height: 50px;
    position: relative;
    left: -30px;
    top: 25px;
    z-index: 10;
    
}

.section1 .out .sec_1 .svg{
 width: 65px;  
 height:65px ;
 background-color:#FFF4E5 ; 
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.section1 .out .sec_1 h1{
  font-size: 40px;  
}
.section1 .sec_1 h1 span{
   color:#FF9500 ;
}
.section1 .sec_2{
    width: 800px;
 height: 100px;  
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 10px;
}
.section1 .sec_2 h2{
    font-size: 33px;
    font-weight: 500;
    display: flex;
 justify-content: center;
 align-items: center;
}
.section1 .sec_2 p{
    font-size: 19px;
    font-weight: 400;
    display: flex;
 justify-content: center;
 align-items: center;
}
.section1 .sec_3{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.section1 .sec_3 a{
    padding: 18px 24px 18px 24px ;
   border-radius: 8px;
     color: white;
    border: 1px solid #FF9500;
    background-color: #FF9500;
}
.section1 .sec_3 .botton{
border: 1px solid #F1F1F3;
color: black;
background-color: white;
}
.section2 {
    width:100% ;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #f7f7f8 ;
}
.section2 img{
   border-left: 1px solid  #f7f7f8; 
   width:150px ;
   height:100px ;
   padding: 30px;
  
}

.section2 .line1{
    border-left: none;   
}
.section2 .hedin{
    display: block;
}
.section2 .hedin2{
    display: block;   
   }   
.section3 {
 width: 100%;
 height: 950px; 
 display: flex;
 justify-content: center;
 align-items: center;  
}
.section3 .img{
    width: 100%;
    height: 750px;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../img/Home/heder.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section3 .circel{
    position: absolute;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background-color:gray ;
opacity: 0.4;
border:4px solid rgb(182, 178, 178) ;
}
 

/*Benefits */
.Benefits{
    width: 100%;
    height: 1100px;
    background-color: #f7f7f8;
}

.Benefits .row{
    flex-direction: column;
    gap: 70px;
}
.Benefits .row h1{
    color:  #262626;
    font-size: 48px;
    font-weight: 600;
   
}
.Benefits .ROW{
  width: 100%;
  height: 50px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Benefits .ROW p{
    width: 900px;
    font-size: 18px;
    font-weight: 400;
    color:  #59595A;

}
.Benefits .ROW .button{
   width: 120px;
   height: 60px; 
   border-radius: 8px;
   border: 1px solid  #F1F1F3;
   background:  #FCFCFD;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 18px; 
   font-weight: 500;

}
.items_Container{
    width: 100%;
    height: 830px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.items_Container .Row{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.items_Container .Row .card{
  width: 450px;
  height: 400px;  
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
}
.items_Container .Row .card span{
    width: 350px;
    display: flex;
    justify-content: end;
    font-size: 70px;
    font-weight: 900;
}
.items_Container .Row .card .card_content{
    width: 350px;
    display: flex;
    flex-direction: column;
    
    gap: 15px;
}
.items_Container .Row .card .card_content h4{
    font-size: 22px;
    font-weight: 700;
    width: 400px;
   height: 25px;
       
}
.items_Container .Row .card .card_content p{
    width: 360px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
   height: 50px;
    
}

.items_Container .Row .card .end{
 width: 350px;
    display: flex;
    justify-content: end;  
     align-items: center;
}
.items_Container .Row .card .end .button{
    
 width: 70px; 
  height: 70px; 
  border-radius: 8px;
    border: 1px solid  #F1F1F3;
    background:  #FCFCFD;  
    display: flex;
    align-items: center;
    justify-content:center ; 
}
/* Our_Courses*/
.Our_Courses{
width: 100%;
height: 2100px;
background-color: #f7f7f8;
}

.Our_Courses .row{
    flex-direction: column;
    gap: 70px;
}
.Our_Courses .row h1{
    color:  #262626;
    font-size: 48px;
    font-weight: 600;
}
.Our_Courses .ROW{
  width: 100%;
  height: 50px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Our_Courses .ROW p{
    width: 900px;
    font-size: 18px;
    font-weight: 400;
    color:  #59595A;

}
.Our_Courses .ROW .button{
   width: 120px;
   height: 60px; 
   border-radius: 8px;
   border: 1px solid  #F1F1F3;
   background:  #FCFCFD;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 18px; 
   font-weight: 500;

}
.Our_Courses .row .out_box{
    width: calc ( 100% - 120px );
    height:1860px;   
}
.Our_Courses .row .out_box .Courses{
width: calc ( 100% - 140px );
height:1860px ;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
gap: 20px;
}
.Our_Courses .row .Courses .card{
    width:660px ;
    flex-grow: 1;
    flex-basis: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-content: center;
    gap: 25px;
    border-radius: 10px;
border: 1px solid  #F1F1F3;
background:  #FFF;
}
.Our_Courses .row .Courses .card img{
   width: 100%;
   height: 270px;
   display: block; 
}
.Our_Courses .row .Courses .card  .Courses_information{
display: flex;
align-items: center;
justify-content: space-between;
}
.Our_Courses .row .Courses .card  .Courses_information .right_sid{
    width: 250px;
    display: flex;
    justify-content: space-between; 
    gap: 10px;  
   
}
.Our_Courses .row .Courses .card  .Courses_information .right_sid a{
    display: flex;
    padding: 8px 14px; 
  color: #4C4C4D;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
border: 1px solid  #F1F1F3;
background:  #FFF;

}

.Our_Courses .row .Courses .card  .Courses_information span {
    color:  #262626;
    font-size: 16px;
    font-weight: 600;  
}
.Our_Courses .row .Courses .card .Courses_description{
  display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 10px;  
}
.Our_Courses .row .Courses .card a{
    width: 100%;
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid  #F1F1F3;
    background:  #F7F7F8;
    color: #262626;
}
/* Testimonials */
.Testimonials{
    width: 100%;
    height:900px ;
    background-color: #f7f7f8;
}
.Testimonials .row{
    flex-direction: column;
    gap: 70px;
}
.Testimonials .row h1{
    color:  #262626;
    font-size: 48px;
    font-weight: 600;
   
}
.Testimonials .ROW{
  width: 100%;
  height: 50px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Testimonials .ROW p{
    width: 900px;
    font-size: 18px;
    font-weight: 400;
    color:  #59595A;

}
.Testimonials .ROW .button{
   width: 120px;
   height: 60px; 
   border-radius: 8px;
   border: 1px solid  #F1F1F3;
   background:  #FCFCFD;
   display: flex;
   justify-content: center;
   align-items: center;
    color:  #262626;
   font-size: 18px; 
   font-weight: 500;

}

.Testimonials .row  .Testimonial_card{
width: 100%;
height:650px ;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
gap: 30px;

}
.Testimonials .row  .Testimonial_card .card{
   width: 655px ; 
   flex-grow: 1;
   flex-basis: 600px;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background:#FFF ;
   border: 1px solid  #F1F1F3;
   border-radius: 8px;
}
.Testimonials .row  .Testimonial_card .card p{
    width: 100%;
    height: calc( ( 100%/3  )*2);
    padding: 50px;
    color: #4C4C4D;
    font-size: 18px;
    font-weight: 400;
}
.Testimonials .row  .Testimonial_card .card .Testimonial_information{
width:100% ;
height: calc( 100%/3  );
display: flex;
justify-content: space-between;
align-items: center;
background:  #FCFCFD;
border-radius: 0px 0px 8px 8px  ;
border-top: 1px solid  #F1F1F3;
padding: 30px 50px 30px 50px ;
color:  #333;
font-size: 18px;
font-weight: 600;
}
.Testimonials .row  .Testimonial_card .card .Testimonial_information a{
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    border-radius: 8px;
    border: 1px solid  #F1F1F3;
    background:  #F7F7F8;
    color: #262626;
    font-size: 18px;
    font-weight: 500;

}


/* Pricing*/
.Pricing{
  width: 100%;
  height: 1500px; 
  background-color: #f7f7f8;
}
.Pricing .row{
    flex-direction: column;
    gap: 70px;
}
.Pricing .row h1{
    color:  #262626;
    font-size: 48px;
    font-weight: 600;
    
}
.Pricing .ROW{
  width: 100%;
  height: 50px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Pricing .ROW p{
    width: 850px;
    font-size: 18px;
    font-weight: 400;
    color:  #59595A;


}
.Pricing .ROW .left_side{
width: 270px ;
height: 80px;
padding: 12px;
border-radius: 8px;
background:  #FFF;
display: flex;
   justify-content: center;
   align-items: center;
   gap: 0px;

}
.Pricing .ROW .button{
   padding: 14px 30px;
   border-radius: 8px;
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 18px; 
   font-weight: 500;

}
.Pricing .ROW .first{
    background-color: #FF9500;
    color: white;
}
.Pricing .row .out_box{
    width:100% ;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 12px;
    background: #FFF;
    padding: 80px ;
}
.Pricing .row .out_box .card{
    width:calc((100% - 30px) / 2) ;
    height:1040px ;
    padding: 50px 30px 30px 30px;
    border-radius: 12px;
    border: 1px solid  #F1F1F3;
    background: #FCFCFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.Pricing .row .out_box .card .first_button{
    width: 530px;
    display: flex;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid  #FFEACC;
    background:  #FFF9F0;
    color: #262626;
}
.Pricing .row .out_box .card .Pricing{
    width: 530px;  
    height: 80px; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Pricing .row .out_box .card .Pricing h3{
    color:  #262626;
    font-size: 80px;
    font-weight: 600;
}
.Pricing .row .out_box .card .Pricing span{
    color:  #4C4C4D;
    font-size: 20px;
    font-weight: 500;
   
}
.Pricing .row .out_box .card .Pricing .end{
    height: 70px;
    display: flex;
    align-items: flex-end;
}
.Pricing .row .out_box .card .close {
    width:100% ;
    height:690px ;
    flex-direction: column;
    display: flex;
    gap: 0px;
  
}
.Pricing .row .out_box .card .close .Available{  
 background:  #FFF;
width:100%;
height: 700px;
border-radius: 14px 14px 0px 0px ;
border: 1px solid #F1F1F3;
padding: 40px;

}
.Pricing .row .out_box .card  .close  .Available .inside{
    width:100%;
    height:560px ;
    background:  #FFF;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Pricing .row .out_box .card .close .Available .inside h4{
    width: 300px;
    height:30px ;
    color:  #262626;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}

.Pricing .row .out_box .card .close .last_button{
    width: 100%;
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 8px 8px;
    background: #FF9500 ;
    color:white;
}
.Pricing .row .out_box .card .close .Available .Properties{
width: 450px;
height: 60px;
padding: 14px;
gap: 10px;
display: flex;
justify-content: flex-start;
align-items: center;
border-radius: 8px;
border: 1px solid  #F1F1F3;

}
.Pricing .row .out_box .card .close .Available .Properties .svg{
    border-radius: 6px;
    background: #FFF4E5;
    padding: 6px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 30px;
    height: 30px;
}
.Pricing .row .out_box .card .close .Available .Properties p{
    color:  #4C4C4D;
    font-size: 15px;
    font-weight: 400;  
   
}
.Pricing .row .out_box .card .close .Available .Properties  .none_bg{
    background-color: white;
    width : 30px;
    height: 30px;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid #F1F1F3; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer */
.footer {
   width: 100%;
   height: 450px; 
   background-color:white;
 
      
}
.footer .row {
    width: 100%;
    height: 100%;
    padding: 100px 60px 30px 60px ;
}
.footer .row .box {
    width: 100%;
    height: 100%;
display: flex;
flex-direction: column;
gap: 50px;
}

.footer .row .box .first {
   width: 100%;
   height:200px ; 
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.footer .row .box .first .right_side{
    height:200px ;
    display: flex;
   flex-direction: column;
   align-items: flex-start;
    width: calc(( 100% - 150px ) /3 );
  
}
.footer .row .box .first .right_side .logo{
   width: 50px; 
   height: 50px;
   background-color: #FF9500;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.footer .row .box .first .right_side nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    gap: 20px;
    
    
}

.footer .row .box .first .right_side nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer .row .box .first .right_side nav ul li a{
    
  color:  #262626;
  font-size: 18px;
   font-weight: 400;   

}

.footer .row .box .first .left_side{
    width:calc( ( ( 100% - 150px ) /3 )*2 ) ; 
    height: 200px;
    display: flex;
    justify-content: space-between;

}
.footer .row .box .first .left_side nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 14px;
}
.footer .row .box .first .left_side nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    gap: 8px;
    
    
}
.footer .row .box .first .left_side nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer .row .box .first .left_side nav ul li a{
    color:  #59595A;
 font-size: 18px;
     font-weight: 400;
   
}
.footer .row .box .first .left_side nav p{
    color:  #262626;
font-size: 20px;
font-weight: 600;

}

.footer .row .box .line{
    height: 1px;
    width: 100% ;
    background:#F1F1F3; 
   
   
}
.footer .row .box .last{
    width: 100%;
    height: 30px;
display: flex;
justify-content: center;
align-items: center;
color:  #656567;
font-size: 16px;
font-weight: 400;

}

.footer .row .box .first .left_side nav .icons{
    width: 185px;
    height: 50px;
    display: flex;
    gap: 14px;
}
.footer .row .box .first .left_side nav .icons .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid  #F1F1F3;
    background: #F7F7F8; 
}



@media screen and (max-width: 1420px) {

/*Pricing */
.Pricing{
    height:2700px ;
}
.Pricing .row{
    gap: 100px;
}
.Pricing .row .ROW {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    gap: 20px;
}

.Pricing .row .ROW p{

    width:  550px;
    
}

.Pricing .row .out_box{
    display: flex;
    flex-wrap: wrap;
    height:2300px ;
    padding: 20px;
}
.Pricing .row .out_box .card{
    display: flex;
    flex-grow: 1;;
    flex-basis: 700px;
}
.Pricing .row .out_box .card .Pricing{
    width: 300px;
}
.Pricing .row .out_box .card .first_button{
    width: 550px;
    
}
.Pricing .row .out_box .card .close .Available .Properties{
width: 600px;
height: 100px;
}
.Pricing .row .out_box .card .close .Available .Properties p{
    font-size: 20px;
}
.Pricing .row .out_box .card .close .Available .inside h4{
margin-top: 10px;
}



}



@media screen and (max-width: 1338px){
  
  /*Our_Courses */
.Our_Courses{
    height: 3900px ;
    
    }  

/* Testimonials */
.Testimonials{
    height: 1600px;
}


}



@media screen and (max-width: 1250px){
  /*Benefits */
  .Benefits{
    height: 2700px;
   }
   
   

}


@media screen and (max-width: 1200px) {
    .Home .section2 .hedin2{
        display: none;   
       } 
       /*Benefits */
       .Benefits{
        height: 2700px;
       }
.Benefits .row .items_Container{
    height: 2500px;
}
.Benefits .row .items_Container .Row{
    height: 1300px;
    flex-wrap: wrap;

}
.items_Container .Row .center{
    margin-left: 30%  ;

}
}
@media screen and (max-width: 1040px){
    .items_Container .Row .center{
        margin-left: 0;  
    
    }  
}

@media screen and (max-width: 860px) {
    .container{
        width: calc(100% - 40px );
        margin: auto;   
    }

    /*header */
    .list{
        display: none;
    } 
    .Navigation_Menu{
        height: 35px;
        width: 35px;
       display: block
        !important; 
    }
    /*Home*/
    .Home{
        height: 1150px;
    }
    .Home .section1{
     width: 600px;
    } 
    .Home .section1 .out .sec_1  {
     width: 540px;
     height: 80px;
     
     
    }
    .Home .section1 .out .sec_1 h1{
        font-size:30px ;
    }
    .Home .section1 .out .sec_1 .svg{
       width:30px ; 
       height:30px ;
    }
    .Home .section1 .sec_2{
        height: 90px;
        width: 350px;
        display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .Home .section1 .sec_2 h2{
        font-size: 27px;
        font-weight: 400;
        text-align: center;
    }
    .Home .section1 .sec_2 p{
        font-size: 16px;
        font-weight: 300;
        width: 350px;
        text-align: center;
        
        
    }
    
    .Home .section2 .hedin{
     display: none;   
    }
   
    .Home .section3{
      height: 500px;
    }    
    
   .Home .section3 .img{
        width: 600px;
        height: 350px;  
    }
    /*Benefits */
    .Benefits{
        height: 2800px ;
        display: flex;
        flex-direction: column;
    }
    
.Benefits .row .items_Container{
    height: 2500px ;
}
.items_Container .Row .card{
    flex-grow: 1;
    flex-basis: 300px;
}
.Benefits .row .items_Container .Row{
    height: 1300px ;
    flex-wrap: wrap;

}
.Benefits .row .ROW {
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    gap: 20px;
}
.Benefits .row .ROW p{
    width:  550px;
}

/*Our_Courses */
.Our_Courses{
height: 4200px ;

}
.Our_Courses .row .out_box .Courses{
   height:3000px ; 
}

.Our_Courses .row .ROW {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    gap: 20px;
}
.Our_Courses .row .ROW p{
    width:  550px;
}


/* Testimonials */
.Testimonials{
    height: 1650px;
}
.Testimonials .row .ROW {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    gap: 20px;
}
.Testimonials .row .ROW p{
    width:  550px;
}

/*Pricing */
.Pricing{
    height:2700px ;
}
.Pricing .row{
    gap: 100px;
}
.Pricing .row .ROW {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    gap: 20px;
}

.Pricing .row .ROW p{
    width:  550px;
}
.Pricing .row .ROW .left_side{
    
   position: relative;
   left: 30%;
}
.Pricing .row .out_box{
    display: flex;
    flex-wrap: wrap;
    height:2300px ;
    padding: 20px;
}
.Pricing .row .out_box .card{
    display: flex;
    flex-grow: 1;;
    flex-basis: 600px;
}
.Pricing .row .out_box .card .Pricing{
    width: 300px;
}
.Pricing .row .out_box .card .first_button{
    width: 550px;
}
.Pricing .row .out_box .card .close .Available .Properties{
width: 500px;
}

/* footer*/
.footer{
   height: 550px;

}
.footer .row{
    padding: 50px 20px 25px 20px ;
}
.footer .row .box .first{
height: 350px;
width: 500px;
flex-wrap: wrap;
gap: 30px;
}
.footer .row .box .first .right_side {
  width: 600px;  
 
}
    

.footer .row .box .first .left_side {
 width: 600px;     
}
.footer .row .box .first .left_side nav{
    width: 400px;  
    flex-wrap: wrap;
}

}



@media screen and (max-width: 700px){
    /*Pricing */

    .Pricing .row .out_box .card .first_button{
        width: 450px;
    }

.Pricing .row .out_box .card .close .Available .Properties{
width: 430px;
}


    /* footer*/
.footer{
    height: 800px;
 }
 .footer .row .box {
    gap: 20px;
 }
 .footer .row .box .first{
 height: 750px;
 width: 300px;
 flex-wrap: wrap;
 gap: 24px;
 }
 .footer .row .box .first .right_side {
   width: 300px;  
   height: 200px;
  
 }
     
 
 .footer .row .box .first .left_side {
  width: 300px;
  height: 350px;
  flex-wrap: wrap;
  gap: 24px;
 }
 
 
 .footer .row .box .first .left_side nav{
     width: 130px;
     height: 200px;

}

/* Testimonials */
.Testimonials{
    height: 1750px;
}


}
@media screen and (max-width: 600px){
    /*Home*/
    .Home .section1 .out .sec_1  {
        width: 500px;
        height: 70px;
        
        
       }
       .Home .section1 .out .sec_1 h1{
           font-size:20px ;
       }
       .Home .section1 .out .sec_1 .svg{
          width:25px ; 
          height:25px ;
       }
       .section2 img{
        border-left: 1px solid  #f7f7f8; 
        width: 130px ;
        height:90px ;
        padding: 30px;
       
     }

/*Our_Courses */

.Our_Courses .row .Courses .card{
    width:590px ;
}

/*Benefits */
.items_Container .Row .card .card_content h4{
    font-size: 18px;
    font-weight: 600;
    width: 400px;
   height: 20px;
       
}
.items_Container .Row .card .card_content p{
    width: 300px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
   height: 40px;
    
}
.items_Container .Row .card span{
    width: 350px;
    
    font-size: 60px;
    font-weight: 800;
}

/*Pricing */

.Pricing .row .out_box .card .first_button{
    width: 400px;
}

.Pricing .row .out_box .card .close .Available .Properties{
width: 340px;

}
.Pricing .row .out_box .card .close .Available .Properties p{
 font-size: 15px;   
}



}
@media screen and (max-width: 500px){

     /*Home*/
     .Home .section1 .out .sec_1  {
        width: 370px;
        height: 70px;
        
        
       }
       .Home .section1 .out .sec_1 h1{
           font-size:16px ;
       }
       .Home .section1 .out .sec_1 .svg{
          width:20px ; 
          height:20px ;
       }




       /*Benefits */
.Benefits{
    height: 2850px ;
    display: flex;
    flex-direction: column;
}
/*Our_Courses */
.Our_Courses{
height: 4350px ;

}
.Pricing .row .ROW .left_side{
    height: 60px;
    position: relative;
    left: 15%;
 }

/* Testimonials */
.Testimonials{
    height: 2250px;
}
   /*Pricing */

    .Pricing .row .out_box .card .first_button{
        width: 300px;
    }

    .Pricing .row .out_box .card .close .Available .Properties{
    width: 250px;
    
    }
    .Pricing .row .out_box .card .close .Available .Properties p{
     font-size: 10px;   
    }
     
}


